.Header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	background-color: #032CA6;
}

.Header-logo {
	height: 35px;
	width: auto;
	pointer-events: none;
}

.menu{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	color: #fff;
	list-style: none;
}

a{
	text-decoration: none;
}